.header {
    height: 59px;
  margin-top: 0px;
  margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  
    background-color: rgb(10, 153, 236);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    
  }
  
  
   
  .company-logo{
    height: 58px;
    width:200px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    object-fit: contain;
    object-position: center;
    padding-left:-10px ;
    
  }
  .home-button{
    background-color:transparent;
 border-color:rgb(41,118,211);
 border-style: ridge;
 border-width: 1px;
 color:rgb(41,118,211);

 border-radius: 2px;
 cursor: pointer;
 transition: background-color 1s,color 1s;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 8px;
 padding-left: 16px;
 margin-right:-40px;
  }
  .hire-button{
    background-color:transparent;
    border-color:rgb(41,118,211);
    border-style: ridge;
    border-width: 1px;
    color:rgb(237, 241, 245);
   
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 16px;
   
  }

  /*dropdown feature on the hire button*/
  .hirebtn {
    background-color:transparent;
border-color:rgb(41,118,211);
border-style: ridge;
border-width: 1px;
color:rgb(237, 241, 245);

border-radius: 2px;
cursor: pointer;
transition: background-color 1s,color 1s;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 8px;
padding-left: 16px;
  }
  
  .menu {
    position: relative;
    display: inline-block;
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #8dd6f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-content a:hover {background-color: #f1f1f1}
  
  .menu:hover .menu-content {
    display: block;
  }
  
  .menu:hover .hirebtn {
    background-color:rgb(25, 168, 224);
  }
/*end of menu interface of the hire button*/


  
  .supply-button{
    background-color:transparent;
    border-color:rgb(41,118,211);
    border-style: ridge;
    border-width: 1px;
    color:rgb(41,118,211);
   
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 16px;
    
  }
  .contact-button{
    background-color:transparent;
    border-color:rgb(41,118,211);
    border-style: ridge;
    border-width: 1px;
    color:rgb(41,118,211);
   
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 16px;
    margin-right:40px;
  }
  .about-button{
    background-color:transparent;
    border-color:rgb(41,118,211);
    border-style: ridge;
    border-width: 1px;
    color:rgb(41,118,211);
   
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 20px;
    margin-right:40px;

  }
  .button{
    background-color:transparent;
    border-color:rgb(41,118,211);
    border-style: ridge;
    border-width: 1px;
    color:rgb(237, 241, 245);
   
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 1s,color 1s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 16px;
    
  }
  .welcome-label{
    color: white;
    position: relative;
  }
  
